__LOGIN_RC_FILE="${BASH_SOURCE[0]}"

# Path customizations
__LOCAL_PATH=""

export CTEST_OUTPUT_ON_FAILURE=1
export NUMPY_EXPERIMENTAL_ARRAY_FUNCTION=1
LLVM_VERSION=10
export PATH=~/bin:$PATH
export CC=clang-$LLVM_VERSION
export CXX=clang++-$LLVM_VERSION
export LDFLAGS=-fuse-ld=$(which ld.lld-$LLVM_VERSION)

# Aliases
alias iree-opt="srun iree/tools/iree-opt"

function relogin() {
  echo "Reloading from $__LOGIN_RC_FILE"
  source "$__LOGIN_RC_FILE" 
}

# Save the login path so that relogin can just modify.
if [ -z "${__LOGIN_PATH}" ]; then
  __LOGIN_PATH="$__LOCAL_PATH:$PATH"
fi

# All path modifications here.
export PATH="$HOME/bin/ccache:${__LOGIN_PATH}"

function die() {
  echo "$*"
  exit 1
}

for inc in $(dirname "${BASH_SOURCE[0]}")/functions/*.sh; do
  source $inc
done

